page-about {
  ion-navbar.toolbar {
    min-height: 5px;
    height:35px;
  }    
  .card{
    background-color:#F3F3F3;	
    padding:0px 15px 15px 15px;
  }
  ion-navbar.toolbar {
    min-height: 5px;
    height:38px;
  }
  .angular-with-newlines {
    white-space: pre-line;
  }
  ion-footer {
    padding: 10px 10px 10px 15px;
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #000;
  }  
}

 