page-invite-popup {
.cssP{
    color:#bd2472;
    font-size: 2.2rem;
    font-family: 'Lato', sans-serif;
    margin: 24px 0px;
    line-height: 1.3;
}
.button{
    background-color: #bd2472;
    font-size: 1.5rem;
    color:#fff;
    font-family: 'Lato', sans-serif;
    border-radius: 18px;
    padding: 0px 25px;
}
.cssText{
    color:#4a4a4a;
    font-size: 2.0rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 25px;
}
.cssText1{
    color:#a92589;
    font-size: 1.7rem;
    font-family: 'Open Sans Condensed', sans-serif;
}
.cssText_1{
    color:#4a4a4a;
    font-size: 2.0rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 11%;
}
}
