<ion-header >
  <ion-navbar> 
    <ion-title><span style="color:#fff;font-size:1.7rem;padding-left:10px;">Create a Zone</span></ion-title>      
  </ion-navbar>
</ion-header>

<ion-content >
   <ion-card >   
    <ion-item style="width:100%;border-radius:4px;background-color:#fff;height:35px;padding-left:5px; min-height: 34px;">    
      <ion-input  type="text" [(ngModel)]="zoneName" placeholder="GIVE YOUR ZONE A NAME" style="font-family: 'Lato', sans-serif;"></ion-input>
    </ion-item>
    <ion-item (click)="gallery_run(fileInput)" style="padding-left: 0px;">
      <img *ngIf="coverImagePreview" style="width: 8%;right:0px;position:absolute;top: 5px;" src="assets/images/photo_edit_white.svg">
      <p *ngIf="!coverImagePreview" style="color:#909090;position:absolute;z-index:1;margin-top:16%;left:33%">ADD A COVER PIC</p>
      <img src="assets/images/camera.svg" *ngIf="!coverImagePreview" style="width:8%;position:absolute;z-index:1;margin-top:25%;left:46%">
      <img src="assets/images/add_pic.svg" *ngIf="!coverImagePreview" > 
      <img class="cssthumb" [src]="coverImagePreview" *ngIf="coverImagePreview" style="height:191px;border-radius:4px;width:100%;">
      <input #fileInput value="" (click)="fileInput.value = null" (change)="fileUpload($event)" type="file" src="assets/images/cam.PNG" name="pic" accept="image/*" style="display: none;">    
    </ion-item>
    <ion-textarea  rows="6"  maxlength="3000" (keyup)="count(description)" placeholder="ADD A DESCRIPTION" [(ngModel)]="description" style="font-family: 'Lato', sans-serif;" type="text"></ion-textarea>
    <p  style.color="{{characterLeft > 9 ? '#444' : 'red'}}" style=" font-size: 1.1rem;color: #444;font-weight: 100;margin-top: 3px;    text-align: right;
        margin-right: 12px">{{characterLeft}} </p>  
    
  </ion-card>  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-12 style="text-align: center;font-family: 'Lato', sans-serif;">
        <button class="cssBtn" ion-button item-center [disabled]="(!zoneName || !description)" (click)="createZone()">create</button>    
    </ion-col>
  </ion-row>  
</ion-footer>