page-popup-options {
    .item p {
        color:#65A0E6;
        font-size: 1.5rem;
    }
    .button.exit {
        padding-left: 0px;
        background: transparent;
        text-transform: capitalize;
        font-size:1.5rem;
    }
}
