page-terms {


ion-navbar.toolbar {
      min-height: 5px;
      height:35px;
    }
    
.card{
	background-color:#F3F3F3;
	border-radius: 10px;
	padding:0px 15px 15px 15px;
}
ion-navbar.toolbar {
      min-height: 5px;
      height:38px;
    }




}