page-popup-create {

// .toolbar-background {
//   background: -moz-linear-gradient(353deg, #363636 1%, #363636 45%, #3C3A34 46%, #fbb03b 74%); /* ff3.6+ */
//   background: -webkit-gradient(linear, left top, right top, color-stop(1%, #363636), color-stop(45%, #363636), color-stop(46%, #3C3A34), color-stop(74%, #fbb03b)); /* safari4+,chrome */
//   background: -webkit-linear-gradient(353deg, #363636 1%, #363636 45%, #3C3A34 46%, #fbb03b 74%); /* safari5.1+,chrome10+ */
//   background: -o-linear-gradient(353deg, #363636 1%, #363636 45%, #3C3A34 46%, #fbb03b 74%); /* opera 11.10+ */
//   background: -ms-linear-gradient(353deg, #363636 1%, #363636 45%, #3C3A34 46%, #fbb03b 74%); /* ie10+ */
//   background: linear-gradient(97deg, #363636 1%, #363636 45%, #3C3A34 46%, #fbb03b 74%); /* w3c */
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#fbb03b',GradientType=1 );     
// }

// ion-navbar.toolbar {
//       min-height: 5px;
//       height:38px;
// }
//     ion-title img{ 
//     max-width: 60%;
//     margin-left:25px;
    
// }
// .card{
// 	background-color:#F3F3F3;
	
// 	padding:0px 15px 15px 15px;
// }
// ion-navbar.toolbar {
//       min-height: 5px;
//       height:35px;
//     }
// ion-title img { 
//     max-width: 40%;
//     margin-left:75px;
    
// }
// .toolbar-title.toolbar-title{
  
//   padding:0px;
//   margin-left:-10px
// }
p{
  text-align: center;

}
.text1{
  color:#4a4a4a;
  font-size: 1.6rem;
font-weight: 500;
}


.text{
  color:#4a90e2;
font-size: 1.3rem;
font-weight: 500;
}
.item [item-right]{
  text-align: right;
}


}