page-popup-crowdReachCount {
	
	.crowdLabelFloater {
        background-color: #d8d8d8;
        color:#4a4a4a;
    }
    .crowdLabelFloater1 {
        padding: 22% 10px;    
        width: 58%;
        margin: auto;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.15;
    }

}
