page-privacy {


ion-navbar.toolbar {
      min-height: 5px;
      height:38px;
    }
    ion-title img{ 
    max-width: 60%;
    margin-left:25px;
    
}
.card{
	background-color:#F3F3F3;

	padding:0px 15px 15px 15px;
}
ion-navbar.toolbar {
      min-height: 5px;
      height:35px;
    }




}